.chat-main{
    position: relative;
}
.nav p:hover{
    color: #48466d;
    transition: 0.3s;
    transform: scale(1.1);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 15px 60px;
    color: #48466d;
    cursor: pointer;
    position: fixed;
}
.nav svg{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.nav svg:hover{
    background-color: #dfe4ea;
    transition: 0.3s;
    transform: scale(1.1);
}
.main-container{
    max-width: 800px;
    margin: auto;
}
.greet{
    margin: 20px 0px;
    font-size: 35px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}
.greet span{
    background: -webkit-linear-gradient(16deg,#48466d,#979797);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 10px 0px;
}
.card{
    height: 150px;
    padding: 20px;
    background-color: #f0f4f9;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
}
.card svg{
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.card p{
    color: #585858;
    font-size: 17px;
}
.card:hover{
    background-color: #dfe4ea;
}
.main-bottom{
    position: absolute;
    width: 100%;
    max-width: 70%;
    margin: auto;
    margin-left: 220px;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 70px;
    margin-bottom: 15px;
}
.search-box svg{
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 5px;
}
.search-box button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0px 10px;
}
.search-box button:hover{
    background-color: #dfe4ea;
    border-radius: 20px;
}
.search-box input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}
.bottom-info{
    font-size: 12px;
    color: #a0a0a0;
    text-align: center;
    padding: 10px 20px;
    background-color: #f0f4f9;
    border-radius: 10px;    
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result-title img{
    height: 50px;
    width: 50px;
    background-color: #48466d;
    border-radius: 50%;
}
.result-data img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #48466d;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#33324e,#48466d,#5d5a8c);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}
@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}
.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}