.chat-container {
  display: flex;
  min-height: 88vh;
  margin-top: 81px;
} 
.side{
    padding: 25px 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
}
.menu{
    background-color: #48466d;
    color: white;
    border: none;
    display: block;
    margin-left: 5px;
    border-radius: 40px;
    width: 55px;
    height: 35px;
    cursor: pointer;
}
.menu:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.menu svg{
    height: 20px;
    width: 20px;
}
.new-chat{
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 8px 10px;
    background-color: #48466d;
    border-radius: 40px;
    cursor: pointer;
}
.new-chat:hover{
    transition: 0.3s;
    transform: scale(1.05);
}
.new-chat button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #48466d;
    color: white;
    border: none;
    cursor: pointer;
}
.new-chat p{
    font-size: 17px;
    color:white;
    margin-right: 5px;
}
.new-chat button svg{
    width: 20px;
    height: 20px;
    margin-top: 4px;
}
.recent{
    display: flex;
    flex-direction: column;
}
.recent-title{
    margin-left: 13px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 400;
}
.recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    cursor: pointer;
}
.recent-entry button{
    border: none;
    cursor: pointer;
}
.recent-entry p:hover{
    background-color: #dfe4ea;
    border-radius: 20px;
    transition: 0.3s;
}
.recent-entry button svg{
    width: 20px;
    height: 20px;
    color: #48466d;
}
.low{
    display: flex;
    flex-direction: column;
}
.settings{
    cursor: pointer;
    display: flex;
    gap: 6px;
    margin-left: 10px;
}
.settings button:hover{
    border-radius: 20px;
    transition: 0.3s;
    transform: scale(1.2);
}
.settings button{
    border: none;
}
.settings button svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}